---
import Layout from "../layouts/Layout.astro"
---

<Layout title="asdf">
	<main>

        <h1>asdf</h1>

        All my stuff went away.<br />
        <br />
        Will start over soon, again.
    </main>
</Layout>