---
import Layout from "../layouts/Layout.astro"
---

<Layout title="asdf">
	<main>

        <h1>asdf</h1>

        <h2>bahrain f1gp</h2>

        <div>
            <a href="https://crichd.tv/sky-sports-f1-live-streaming-clay-uk-007">https://crichd.tv/sky-sports-f1-live-streaming-clay-uk-007</a>
        </div>

    </main>
</Layout>