---
import "../styles/global.css"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body>
        <main>
            <h1>Ashtro 2.0</h1>

            <div class="op30 text-lg fw300 m1">asdf</div>
        </main>
    </body>
</html>
