---
import Layout from "../../layouts/Layout.astro"
import Asdf from "../../deus-ex/asdf";
---

<Layout title="XState">
    <main>
        <h1>XState asdf</h1>

        <Asdf client:only="solid-js" />
    </main>
</Layout>
