---
import Layout from "../../layouts/Layout.astro"
import TrafficLight from "../../deus-ex/TrafficLight"
---

<Layout title="XState">
    <main>
        <h1>XState Traffic Light in SolidJS</h1>

        <TrafficLight client:only="solid-js" />
    </main>
</Layout>
